/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 @media (max-width: 600px) {
   /* Only applied if true */
   .sidebar {
     display: none;
   }
 }

 /* Put Map in a box */
#map {
  width: auto;
  position: inherit;
  height: calc(100% - 212px);
}

html, body, #mainContent {
  height: 100%;
}

.shake-hard {
height: 100%;
width: 100%;
}

.noWhite {
  background-image: url('https://i.kinja-img.com/gawker-media/image/upload/s--XpvLUxSu--/c_scale,fl_progressive,q_80,w_800/e1vkmed0sohnyhr0gaar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.startDate {
  margin-top: 70px;
}

.magLabel {
  margin-top: 70px;
  font-size: 1rem;
}

.dateLabel {
  margin-top: 70px;
}

.input-field label:not(.label-icon).active {
    font-size: 15px;
}

.btn-large {
  background-color: #b8d6b4;
  border-radius: 42%;
  font-size: 15px !important;
}

.btn-large:hover, .btn-large:focus {
  background-color: #67a443;
}

.hideThings {
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.hideEarthquake{
  display: none;
}

#brand-logo {
  text-align: center;
  position: inherit;
  font-family: 'Frijole', cursive;
  font-size: 30px;
}

.shak {
  text-align: center;
  position: relative;
}

.nav-wrapper {
  background-image: url('https://earthquake.usgs.gov/theme/site/earthquake/banner.png');
  background-color: black;
  text-shadow: 3px 3px 2px black;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.fix-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  background-image: url('https://www.superteachertools.net/jeopardyx/uploads/20140218/seismograph.jpeg');
  background-size: contain;
  height:50px;
  padding: 5px 0;
}

.footer-item {
  padding: 0 !important;
  margin: 0 15px;
  line-height: 1 !important;
  height: 42px !important;
}
.footer-item i{
  color: #0a0e11;
  font-weight: bold;
  font-size: 32px;
  background-color: white;
  background-blend-mode: luminosity;
  line-height: 42px !important;
  height: 42px !important;
}

.side-nav {
  height: 152px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e2e2e2;
  cursor: auto;
}

.icons {
  background-color: white;
}

.icons:hover {
  background-color: white;
}

.center {
  text-align: center;
}

.gmnoprint img {
    max-width: none;
}
